.proyecto-inicio{
    background-image: url("../img/desenfocada1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(51, 51, 51);
}

.contenedor-proyecto{
    background-color: #e6e6e6a4;
}

.pad16{
    padding-bottom: 16px;
}

.content-proyecto{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}

.img-proyecto{
    width: 50%;
    padding: 0 16px;

}

.img-proyecto img{
    width: 100%;
}

.desc-proyecto{
    width: 50%;
    padding: 0 16px;

}

.desc-proyecto h1{
    font-size: 20px;
}

.desc-proyecto h1{
    margin-bottom: 8px;
}

.desc-proyecto p{
    margin-bottom: 8px;
}

.res-proyecto{
    width: 100%;
    padding: 0 16px;
    margin-top: 32px;
}

.linea-proyecto{
    width: 50%;
    margin: 8px auto;
    height: 8px;
    border-radius: 4px;
    background-color: var(--azulClaro);

}

.res-proyecto .datos{
    text-align: center;
}

.res-proyecto .datos .numero{
    font-size: 20px;
    font-weight: bold;
    margin-right: 4px;

    color: var(--azulClaro);
}

.res-proyecto .datos .texto{
    font-size: 18px;
}

.proyect-galeria{
    display: flex;
    padding: 0 8px;
    padding-bottom: 40px;
}

.proyect-galeria .img-galeria{
    width: 25%;
    padding: 0 8px;
}

.img-galeria img{
    width: 100%;
}

.video-proyecto{
    display: flex;
    justify-content: center;
    padding: 0 8px;
}

.content-video{
    padding: 0 16px;
    width: 50%;
}

.content-video .video{
    width: 100%;
    height: 312px;
}




@media screen and (max-width:1024px){
    .img-proyecto{
        width: 100%;
    }

    .desc-proyecto{
        margin-top: 16px;
        width: 100%;
    }

    .res-proyecto{
        width: 100%;
    }

    .linea-proyecto{
        width: 250px;
    }

    .res-proyecto .datos{
        width: 80%;
        margin: 8px auto;
    }

    .content-video{
        width: 63%;
    }


}

@media screen and (max-width:768px){
    .content-video{
        width: 75%;
    }

    .content-video .video{
        height: 270px;
    }

}

@media screen and (max-width:570px){
    .res-proyecto .datos{
        width: 100%;
    }

    .proyect-galeria{
        flex-wrap: wrap;
    }
    .proyect-galeria .img-galeria{
        width: 50%;
    }

    .content-video{
        width: 100%;
    }

    .content-video .video{
        height: 200px;
    }
}